.container{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 100px;
    padding: 10px;
    width: 400px;
    height: 300px;
    text-align: center;
}

input{
    margin-top: 15px;
    margin-bottom: 10px;
}
button{
    width: 100%;
}